{% extends 'base.html' %}
{% block content %}

<div class="contact-main">
    <div class="col-lg-5">
        <h5>Get In Touch</h5>
        <p>
            Here are the contact details, if you have any query you can reach us.
        </p>
        <div class="icons d-flex">
            <i class="fa-solid fa-location-dot"></i>
            <p>Gaurai Pdad, Nallsopara-E</p>
        </div>
        <div class="icons d-flex">
            <i class="fa-solid fa-envelope"></i>
            <p>vishwakarmasaurabh826@gmail.com</p>
        </div>
        <div class="icons d-flex">
            <i class="fa-solid fa-phone"></i>
            <p>+91 9867848691</p>
        </div>
    </div>
    <div class="col-lg-7">
        <!-- Display form errors -->
        {% if form.errors %}
        <div class="error-message">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            {{ field }}: {{ error }}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" id="contactForm" action="">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col">
                    {{ form.name }}
                </div>
                <div class="col">
                    {{ form.email }}
                </div>

                <div class="col-12">
                    {{ form.phone }}
                </div>

                <div class="col-12">
                    {{ form.address }}
                </div>

                <div class="col-12">
                    {{ form.description }}
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}